.noteeditor {
    flex: 1;
    padding: 16px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saveButton {
    border-width: 0px;
    border-radius: 15px;
    color: white;
    background-color: blue;
    height: 50px;
    width: 100px;
}

.saveButton:hover {
    background-color: darkblue;
}

.saveButton:focus {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
}